$primary-color: #5468ff;
$border-color: #e5e7eb;
$text-color: #333;
$text-color-secondary: #6b7280;
$placeholder-color: #bbbbbb;

.float-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 12rpx;
    border-top-right-radius: 12rpx;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
  }

  &__header {
    padding: 16rpx;
    border-bottom: 1rpx solid $border-color;
    text-align: center;
    position: relative;
  }

  &__title {
    font-size: 32rpx;
    font-weight: 500;
  }

  &__close {
    position: absolute;
    right: 16rpx;
    top: 16rpx;
    padding: 4rpx;
  }
}

.form-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20rpx;
}

.form-item {
  display: flex;
  align-items: center;
  padding: 14rpx 16rpx;
  border-bottom: 1rpx solid $border-color;
  background-color: #fff;
  font-size: 28rpx;

  &__label {
    width: 6.5em; // ~104rpx, to align with other fields
    color: $text-color;
    flex-shrink: 0;
  }

  &__control {
    flex: 1;
    min-width: 0;
  }
  
  // For Pickers and other non-input controls
  &__control > .placeholder {
    color: $placeholder-color;
  }

  // For native Input components
  input {
    width: 100%;
    font-size: 28rpx;
    color: $text-color;
    &::placeholder, .placeholder-class {
        color: $placeholder-color;
    }
  }

  // Textarea needs a different layout
  &.textarea-item {
    flex-direction: column;
    align-items: flex-start;
  }

  &__textarea {
    width: 100%;
    height: 80rpx;
    padding: 8rpx;
    background-color: #f7f7f7;
    border-radius: 4rpx;
    margin-top: 8rpx;
    font-size: 28rpx;
    line-height: 1.4;
  }
}

.form-footer {
  padding: 24rpx 16rpx;
  background-color: #fff;
}
