.filters {
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 16px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// On wider screens, display side-by-side
@media (min-width: 768px) {
  .grid {
    flex-direction: row;
    align-items: center;
  }
  .grid > :global(.at-input) {
    flex: 2;
  }
  .grid > .picker {
    flex: 1;
  }
}


.picker {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.pickerPlaceholder {
  color: #999;
}
